[Unit]
Description=Starts the Web Server for the Public Api
After=network.target

[Service]
ExecStart=/usr/local/bin/pool/public-server
Type=simple
WorkingDirectory=/usr/local/bin/pool
User=pool
Group=pool

[Install]
WantedBy=multi-user.target
